#chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  top: 5px;
  z-index: 2;
}

#chat-screen .alt-header {
  top: 20px;
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  background-color: #92a4b2;
  color: #e4e9ed;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  transform: translateX(-10px);
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__content {
  margin-top: 3px;
}

.message__author {
  opacity: 0.7;
}

.message__info {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}

.message__bubble {
  background-color: white;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 18px;
}

.message__time {
  margin-left: 5px;
  font-size: 12px;
  opacity: 0.7;
}

.message-row--own {
  justify-content: flex-end;
  transform: translateX(17.5px);
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 8px;
}

.message-row--own .message__time {
  margin: 0;
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding: 5px 20px;
  box-sizing: border-box;
}

.reply_column:first-child {
  width: 10%;
  font-size: 20px;
  opacity: 0.7;
}

.reply_column:last-child {
  width: 90%;
  position: relative;
}

.reply_column:last-child input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: var(--main-border);
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
}

.reply_column:last-child > i {
  right: 45px;
  top: 18px;
  font-size: 24px;
  opacity: 0.4;
}

.reply_column:last-child button {
  right: 3px;
  top: 4px;
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply_column:last-child button:focus,
.reply_column:last-child button:active {
  outline: none;
}
