.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 15px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.user-component__subtitle {
  opacity: 0.5;
}

.user-component__subtitle i {
  color: red;
  opacity: 1;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(165, 73, 73, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column .badge {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}
